@font-face {
  font-family: "LEMONMILK-Regular";
  src: local("LEMONMILK-Regular"),
    url("./fonts/LEMONMILK-Regular.otf") format("opentype");
}

@font-face {
  font-family: "LEMONMILK-Medium";
  src: local("LEMONMILK-Medium"),
    url("./fonts/LEMONMILK-Medium.otf") format("opentype");
}

@font-face {
  font-family: "LEMONMILK-Bold";
  src: local("LEMONMILK-Bold"),
    url("./fonts/LEMONMILK-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Chocolates-Regular";
  src: local("Chocolates-Regular"),
    url("./fonts/TT\ Chocolates\ Trial\ Regular.otf") format("opentype");
}

@import "../styles/main-styles.css";
