@import "../../styles/main-styles.scss";

.section3 {
  height: 90%;
  width: 100%;
  margin-top: 7%;
  z-index: 20;
  position: relative;
}

.section3::before {
  content: "";
  position: absolute; /* set the pseudo-element to absolute position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 2rem;
  background-image: radial-gradient(
      circle at center,
      rgba(#172d47, 0.85),
      rgba(#172d47, 0.85)
    ),
    url(../../img/skills.jpeg);
  border: solid 0.6rem #dae5fe;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90rem;
  opacity: 0.75;
}

.section3 h2 {
  font-size: 2.7em;
  font-weight: normal;
  padding: 10px 0 16px 0;
  margin: 0 0 30px;
  text-align: center;
  color: #2187e7;
  text-shadow: 1px 1px 5px #000, 0 0 10px #2187e7, 0 0 20px #2187e7;
  background: #000;
  border-radius: 2px;
  border: 1px solid #2187e7;
  box-shadow: 0px 0px 50px -8px #2187e7;
}
.section3 h2.plataformas {
  border: 1px solid #9acd32;
  box-shadow: 0px 0px 50px -8px #9acd32;
  color: #9acd32;
  text-shadow: 1px 1px 5px #000, 0 0 10px #9acd32, 0 0 20px #9acd32;
}

.section3 h2.programas {
  border: 1px solid #ff4500;
  box-shadow: 0px 0px 50px -8px #ff4500;
  color: #ff4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #ff4500, 0 0 20px #ff4500;
}

.container {
  width: 90%;
  padding: 5%;
  margin: 0 auto;
  overflow: hidden;
}

.col {
  width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  font-size: 12px;
  line-height: 2em;
  padding: 5% 0;
}
/*.col { width:101%; }*/
.skill {
  list-style: none;
  padding-top: 30px;
}

.skill li {
  margin-bottom: 70px;
  background: #030303;
  height: 6px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.skill li em {
  position: relative;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: #dedede;
  top: -28px;
}

.blueline {
  height: 3px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.6);
}
.greenline {
  height: 3px;
  margin: 2px 0;
  background: #9acd32;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(173, 255, 47, 0.4);
}
.redline {
  height: 3px;
  margin: 2px 0;
  background: #ff4500;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(255, 69, 0, 0.4);
}

.titulo {
  opacity: 1;
  animation: titulo 5s ease-out;
}

/*programacion*/
.html {
  width: 90%;
  animation: html 2s ease-out;
}
.css {
  width: 95%;
  animation: css 2s ease-out;
}
.php {
  width: 70%;
  animation: php 2s ease-out;
}
.javascript {
  width: 50%;
  animation: javascript 2s ease-out;
}
.jquery {
  width: 30%;
  animation: jquery 2s ease-out;
}

/*plataformas*/
.wordpress {
  width: 80%;
  animation: wordpress 2s ease-out;
}
.prestashop {
  width: 60%;
  animation: prestashop 2s ease-out;
}
.joomla {
  width: 40%;
  animation: joomla 2s ease-out;
}
.blogger {
  width: 70%;
  animation: blogger 2s ease-out;
}
.tridion {
  width: 60%;
  animation: tridion 2s ease-out;
}

/*programas*/
.dreamweaver {
  width: 90%;
  animation: dreamweaver 2s ease-out;
}
.illustrator {
  width: 30%;
  animation: illustrator 2s ease-out;
}
.photoshop {
  width: 70%;
  animation: photoshop 2s ease-out;
}
.premiere {
  width: 50%;
  animation: premiere 2s ease-out;
}
.flash {
  width: 60%;
  animation: flash 2s ease-out;
}

@keyframes titulo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*programacion*/
@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 95%;
  }
}
@keyframes php {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}

/*plataformas*/
@keyframes wordpress {
  0% {
    width: 0px;
  }
  100% {
    width: 80%;
  }
}
@keyframes prestashop {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}
@keyframes joomla {
  0% {
    width: 0px;
  }
  100% {
    width: 40%;
  }
}
@keyframes blogger {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes tridion {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

/*programas*/
@keyframes dreamweaver {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}
@keyframes illustrator {
  0% {
    width: 0px;
  }
  100% {
    width: 30%;
  }
}
@keyframes photoshop {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes premiere {
  0% {
    width: 0px;
  }
  100% {
    width: 50%;
  }
}
@keyframes flash {
  0% {
    width: 0px;
  }
  100% {
    width: 60%;
  }
}

/*media queries*/
@media (max-width: 1200px) {
  h2 {
    font-size: 2.2em;
  }
}
@media (max-width: 980px) {
  h2 {
    font-size: 1.8em;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.4em;
  }
}
@media (max-width: 580px) {
  h2 {
    font-size: 1.1em;
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 2.2em;
    padding: 10px 0 15px 0;
  }
  .col {
    width: 90%;
  }
}
